body{
  background-repeat: no-repeat;
	background-size: cover;	
}

header{
	width: 940px;
	height: auto;
	margin: 1% 5% 1% 10%;
	display: inline-flex;
	background: rgba(255,255,255,3,5);
}

#contenedorCentral{
	width: 1100px;
	height: 500px;
	background-color: #0F375A;
	margin-left: 9%;
	margin-top: 5%;
}

#contenedor{
	width: 1150px;
	height: 500px;
	margin-left: 9%;
}

#contenedorActividades{
	width: 1100px;
	height: auto;
	margin-left: 9%;
	margin-top: 5%;
	padding-bottom: 2%;
	background-color: #0F375A;
}

footer{
	width: 1100px;
	height: 50px;
	float: left;
	margin-top: 10px;
	margin-bottom: 20px;
	border-radius: 10px;
	margin-left: 9%;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
	text-align: center;
	font-size:13px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #0F375A;
}

h1{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#F0B429;
	font-size: 22px;
	text-align: center;
	height: 30px;
	width: 700px;
	float: right;
	padding-left: 30px;	
	padding-right: 100px;	
	padding-top: 10px;	
	padding-bottom: 10px;
} 

h2{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#F0B429;
	font-size: 22px;
	text-align: center;
	padding-top: 3%;
}

h3{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color:#f1f1f1;
	font-size: 22px;
	text-align: center;
	padding-top: 3%;
}

img.imgLogo{
	width:  440px;
	height: 95px;
	margin-left: -5%;
	margin-top: 1%;
}

img.imgInicio{
	width:  1000px;
	height: 800px;
	margin-right: 38%;
}

nav{
	height: 40px;
	border-radius: 5px;
}

.menu-header{
	width: 1100px;
	margin: 5px 115px;
	text-align: center;
	cursor: pointer;
}

.menu-header ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
	width: 140px;
	background: rgb(203, 210, 219);
	border-radius: 4px;
	-webkit-box-shadow: 10px 10px 32px 2px rgba(184,177,184,0.5);
	-moz-box-shadow: 10px 10px 32px 2px rgba(184,177,184,0.5);
	box-shadow: 10px 10px 32px 2px rgba(184,177,184,0.5);
}

.menu > li > a{
	display: block;
	text-decoration: none;
	color:white;
	padding: 10px;
	margin-right: 2px; 
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.menu li a:hover{
	color: #005883;
	text-decoration: none;
	text-shadow: 0 0 13px white;
	transition: all .8s;
}

.submenu {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	transition: all 1s;
}

.submenu li a {
	display: block;
	color:white;
	text-decoration: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background-color: #005883;
	padding: 10px;
	margin-left: -39px;
	width: 150%;
	border-radius: 4px;
	margin-top: 1px;
	background: #50B748;
}

.submenu li {
	border: 2px;
	border-color: #0F375A;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}

.menu li:nth-child(1n+1) {
	background: #F0B429;
}
.menu li:nth-child(2n+1) {
	background: #F47920;
}
.menu li:nth-child(3n+1) {
background: #50B748;
}
.menu li:nth-child(4n+1) {
	background: #A54686;
}
.menu li:nth-child(5n+1) {
	background: #43C7F4;
}

.divHeader{
	background-color: #F0B429;
	width: 70%;
	height: 10px;
	margin-top: 5%;
	margin-left: 10%;
	text-align: right;
}

.slider {
	width: 800px;
	margin: auto;
	overflow: hidden;
	float: left;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 200%;
	margin-right: -4%;
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 1100px;
	height: 500px;
	list-style: none;
}

img.imgSlider{
	width: 800px;
	height: 500px;
	margin-top: auto;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
}

#msform {
	width: 400px;
	margin: 50px left;
	text-align: center;
	margin-top: 3.6%;
}
#msform fieldset {
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	background: #A54686;
	margin-top:-10%;
	margin-left:8%;
	/*stacking fieldsets above each other*/
}
/*Hide all except first fieldset*/
#msform fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform input, #msform textarea {
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color:#f1f1f1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: #A54686;
}

#msform2 {
	width: 400px;
	margin: 50px center;
	text-align: center;
	margin-top:5%;
}
#msform2 fieldset {
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	background: #50B748;
	margin-top:-125.1%;
	margin-left: 97.5%;
	/*stacking fieldsets above each other*/
}
/*Hide all except first fieldset*/
#msform2 fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform2 input, #msform2 textarea {
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color:#f1f1f1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: #50B748;
}

#msform3 {
	width: 400px;
	margin: 50px right;
	text-align: center;
	margin-top: 12.7%;
}
#msform3 fieldset {
	border: 0 none;
	border-radius: 3px;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
	padding: 20px 30px;
	box-sizing: border-box;
	width: 80%;
	background: #F47920;
	margin-top:-125.2%;
	margin-left: 187%;
	/*stacking fieldsets above each other*/
}
/*Hide all except first fieldset*/
#msform3 fieldset:not(:first-of-type) {
	display: none;
}
/*inputs*/
#msform3 input, #msform3	 textarea {
	padding: 9px;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 10px;
	width: 100%;
	box-sizing: border-box;
	color:#f1f1f1;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	background: #F47920;
}

img.imgFoto{
	width: 100px;
	height: 100px;
}

aside{
	border-left-color: #ccc;
	border-left-width: 1px;
	margin: 5px;
	margin-top: 0px;
	float: left;
	padding-top: 1.2%;
}

iframe{
	display: block;
	align-content: center;
	margin-left: 13%;
	-webkit-box-shadow: 10px 10px 32px 2px rgba(184,177,184,0.5);
	-moz-box-shadow: 10px 10px 32px 2px rgba(184,177,184,0.5);
	box-shadow: 10px 10px 32px 2px rgba(184,177,184,0.5);
}

article{
	padding: 2% 14%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	color: #ccc;
}